asgiref
certifi
charset-normalizer
crispy-bootstrap5
distlib
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-sslcommerz
djangorestframework
djangorestframework-simplejwt
EasyProcess
entrypoint2
filelock
gunicorn
idna
Markdown
MouseInfo
mss
numpy
opencv-contrib-python
packaging
pillow
platformdirs
psycopg2-binary
PyAutoGUI
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
pytz
requests
rubicon-objc
setuptools
sqlparse
sslcommerz-lib
typing_extensions
urllib3
virtualenv
wheel